<p id="notice"><%= notice %></p>

<p>
  <strong>Produto:</strong>
  <%= @promocao.produto %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @promocao.preco %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @promocao.preco %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @promocao.validade %>
</p>

<%= link_to 'Edit', edit_promocao_path(@promocao) %> |
<%= link_to 'Back', promocoes_path %>
