<% carrinho.itens.each do |item| %>
  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= link_to '' do %>
          <%= image_tag item.produto.thumbnail, class: 'card-img', alt: '' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <%= link_to produto_path(item.produto) do %>
            <h5 class="card-tittle"><%= item.produto.nome %></h5>
          <% end %>
          <%= "Valor unitário: #{item.produto.preco}" %><br>
          <%= "Quantidade: #{item.quantidade}" %><br>
        </div>
      </div>
      <div class='col-md-2 pr-3 pt-3'>
        <%= button_to t('acoes.remover'), remover_carrinho_path(item.produto), class: 'btn btn-danger btn-sm float-right' %>
      </div>
    </div>
  </div>
<% end %>
