<% carrinho.itens.each do |item| %>
  <div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
      <div class="col-lg-3">
        <%= link_to produto_path(item.produto) do %>
          <%= image_tag item.produto.thumbnail, class: 'card-img' %>
        <% end %>
      </div>

      <div class="col-lg">
        <div class="card-body">
          <%= link_to produto_path(item.produto) do %>
            <h5 class="card-tittle"><%= item.produto.nome %></h5>
          <% end %>
        </div>
      </div>

      <div class='col-lg-1 pr-3 py-3'>
        <%= button_to t('acoes.remover'), remover_carrinho_path(item.produto), class: 'btn btn-danger btn-sm float-right' %>
      </div>
    </div>

    <div class='row no-gutters px-3 my-3'>
      <div class='row mr-2 no-gutters'>
        <%= label_tag :quantidade, 'Quantidade:', class: 'my-auto mr-2' %>

        <div class="input-group quantidade">
          <div class="input-group-prepend">
            <%= button_tag fa_icon('minus'), class: 'btn btn-danger btn-quantidade-diminui', type: :button, data: { 'id-item': item.id } %>
          </div>

          <%= text_field_tag :quantidade, item.quantidade, class: 'form-control input-quantidade', id: "quantidadeProduto#{item.produto.id}", data: { 'id-item': item.id, url: atualiza_quantidade_carrinho_path } %>

          <div class="input-group-append">
            <%= button_tag fa_icon('plus'), class: 'btn btn-success btn-quantidade-aumenta', type: :button, data: { 'id-item': item.id } %>
          </div>
        </div>
      </div>

      <div class='row mr-2 no-gutters'>
        <%= label_tag :valor_unitario, 'Valor unitário:', class: 'my-auto mr-2' %>

        <%= text_field_tag :valor_unitario, number_to_currency(item.produto.preco_com_desconto), id: "valorUnitario#{item.id}", class: 'form-control-plaintext ml-2 w-6-rem', readonly: true %>
      </div>

      <div class='row no-gutters'>
        <%= label_tag :valor_total, 'Valor total:', class: 'my-auto mr-2' %>

        <%= text_field_tag :valor_total, number_to_currency(item.produto.preco_com_desconto * item.quantidade), id: "valorTotal#{item.id}", class: 'form-control-plaintext w-6-rem', readonly: true %>
      </div>
    </div>
  </div>
<% end %>
