<%= form_with(model: pedido, local: true, class: 'px-3 py-2', id: 'form_pedido') do |form| %>
  <div class='card'>
    <div class='card-header'>
      <%= t '.detalhes' %>
    </div>
    <div class='card-body'>
      Valor do pedido: <%= number_to_currency pedido.valor %>
    </div>
  </div>

  <div class='card mt-2'>
    <div class='card-header'>
      <%= t '.endereco' %>
    </div>

    <div class='card-body p-2 <%= 'd-none' unless current_cliente.enderecos.count.positive? %>' id='body_card_enderecos'>
      <%= form.hidden_field :endereco_cliente_id, disabled: !current_cliente.enderecos.count.positive? %>
        <ul class='enderecos'>
          <% current_cliente.enderecos.each do |endereco| %>
            <%= render 'endereco', endereco: endereco %>
          <% end %>
        </ul>
        <%= link_to 'Novo endereço', nil, id: 'link_novo_endereco' %>
    </div>

    <div class='card-body p-2 <%= 'd-none' if current_cliente.enderecos.count.positive? %>' id='body_card_novo_endereco'>
      <%= render 'campos_novo_endereco', f: form, disabled: current_cliente.enderecos.count.positive? %>
    </div>
  </div>

  <div class="actions mt-3">
    <%= form.submit t('acoes.salvar'), class: 'btn btn-primary' %>
    <%= link_to t('acoes.cancelar'), action_name == 'edit' ? pedido_path(pedido) : pedidos_path, class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load', function(){
    $(":input").inputmask();

    $(".endereco.list-item").click(function () {
      $($(this).parent('ul')).children('.endereco.list-item').removeClass('selecionado');
      $(this).addClass('selecionado');
      $('#pedido_endereco_cliente_id').val($(this).data('id'))
      $(this).children('.icone').css('background-color', '#007bff')
      $(this).children('.icone').html('')
    });

    $('#link_novo_endereco').click(function (e) {
      e.preventDefault();
      $('#body_card_enderecos').toggleClass('d-none')
      $('#body_card_novo_endereco').toggleClass('d-none')
      $('#pedido_endereco_cliente_id').attr('disabled', 'disabled')
      $('#body_card_novo_endereco :input').removeAttr('disabled')
    })

    $('#cancelar-novo-endereco').click(function (e) {
      e.preventDefault();
      $('#body_card_enderecos').toggleClass('d-none')
      $('#body_card_novo_endereco').toggleClass('d-none')
      $('#pedido_endereco_cliente_id').removeAttr('disabled')
      $('#body_card_novo_endereco :input').attr('disabled', 'disabled')
    })
  });
</script>