<%= form_with(model: [:admin, produto], local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :preco %>
    <%= form.number_field :preco, min: 0, step: 0.01, class: 'form-control' %>
  </div>

  <div class="">
    <%= form.label :imagens %>
    <br>
    <div class="row no-gutters">
      <% produto.imagens.each do |imagem| %>
        <%= hidden_field :produto, :imgens, multiple: true, value: imagem.identifier, id: "produto_imagem_#{imagem.identifier}" %>
        <div class="img-container" id="<%= "container#{imagem.identifier}" %>">
          <%= image_tag imagem.url, size: '210x120', alt: '', id: imagem.identifier, class: 'img-form-produto' %>
          <%= button_tag t('acoes.remover'), class: 'btn btn-danger btn-sm btn-rmimg', id: "bt#{imagem.identifier}", type: :button %>
        </div>
      <% end %>
    </div>
    <%= form.file_field :imagens, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit t('acoes.salvar'), class: 'btn btn-primary' %>
    <%= link_to t('acoes.cancelar'), :back, class: 'btn btn-primary' %>
  </div>
<% end %>
