<div class="container">
  <%= link_to t('acoes.nova', model: Promocao.name), new_admin_promocao_path, class: 'btn btn-primary' %>
  <div class="row no-gutters mt-3">
    <% @promocoes.each do |promocao| %>
      <div class="card mb-3" style="width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= link_to admin_promocao_path(promocao) do %>
              <%= image_tag promocao.produto.thumbnail, class: 'card-img', alt: '' %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <%= link_to admin_promocao_path(promocao) do %>
                <h5 class="card-tittle"><%= "Promoção #{promocao.id}" %></h5>
              <% end %>
              <%= "Produto: #{promocao.produto.nome}" %><br>
              <%= "Valor do produto: #{promocao.produto.preco}" %><br>
              <%= "Desconto: #{promocao.desconto}" %><br>
              <%= "Validade: #{l promocao.validade, format: :long}" %><br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
