<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to nome_loja, root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <%= link_to t('navbar.carrinho'), carrinho_path, class: 'nav-link' %>
        </li>
        <% if cliente_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to current_cliente.email, '#', class: 'nav-link dropdown-toggle', id: 'dropUsuario', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } %>
            <div class="dropdown-menu" aria-labelledby="dropUsuario">
              <%= link_to t('acoes.sair'), destroy_cliente_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Entrar', new_cliente_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
