<!DOCTYPE html>
<html>
  <head>
    <title><%= nome_loja %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navgation' %>
    <div class="main-container">
      <div class='nav-wrapper'>
        <%= render 'layouts/nav' %>
      </div>
      <div class='content-wrapper'>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
