<!DOCTYPE html>
<html>

  <head>
    <title>Loja</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navgation' %>

    <div class="container main-container flex">
      <div class='sidebar-container'>
        <h1 class="my-4"><%= nome_loja %></h1>

        <%= render 'partials/categorias', categorias: @categorias, categoria_atual: @categoria_atual %>
      </div>

      <div class='content-container'>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>

</html>
